/target
edgetpu_runtime_20221024.zip
edgetpu_runtime/

# models
models/
*.tflite
!templates/
!templates/*.tflite

# libraries
*.so
*.so.*
*.a
*.lib

# archives
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz

.cargo/
traces/

# python cache artifacts
__pycache__/
*.pyc
